// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



body {
  font-family: "Arial Black", "Noto Sans JP", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.br {
  display: inline-block;
}
a{
    text-decoration: none;
}
.all-body{
    background-color: orange;
}

.main-title {
  display: flex;
  justify-content: center;
}
.main-title h1 {
  font-size: 5em;
}
.main-title h2 {
  display: flex;
  align-items: flex-end;
}

.portfolio-profile-area img {
  width: 250px;
}

.profile {
  border: 6px solid #070707;
  border-radius: 10px;
  box-shadow: 4px 4px;
  display: inline-flex;
  background-color: white;
}


.About {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 30px;
  font-family: "Arial";
  img{
      width: 250px;
  }
  .About-description{
      border: 6px solid #070707;
      border-radius: 10px;
      box-shadow: 4px 4px;
      display: inline-block;
      width: 400px;
  }
  .br{
      display: none;
  }
}

.link {
    text-decoration: none;
}

    .contact-contents{
    padding-top: 30px;
    padding-bottom: 50px;
        img{
            width: 250px;
        }
        .inquiry-img{
        width: 45px;
        margin:0 1em;
        }
        .About-inquiry{
            text-align: center;
            justify-content: center;
            padding:5px;
            border:3px solid #000;
            display: inline-flex;
            background-color: white;
            box-shadow: 4px 4px;
            }
            .About-inquiry a:hover{
                background-color: orange;
                opacity: 20;
            }
        .About-description {
        border: 6px solid #070707;
        border-radius: 10px;
        box-shadow: 4px 4px;
        margin:0 auto;
        width: 30em;
        display: block;
        margin-bottom:2.5em;
        background-color: white;
        }
    }

.language {
  background-color: #fff;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.language-sp {
  display: none;
}

.h2-title {
  font-size: 3.5em;
  margin-bottom: -28px;
}

.h3-tittle {
  margin-bottom: -20px;
}

.html {
  color: #F3642C;
}

.css {
  color: #1572B6;
}

.php {
  color: #777BB3;
}

.laravel {
  color: #FF2D20;
}

.javascript {
  color: #E5A228;
}

.git {
  color: #DE5C40;
}

.my {
  color: #5D86A0;
}

.sql {
  color: #F49722;
}

.work {
  padding: 50px;
  display: flex;
  justify-content: center;
  h4{
      font-family: 'Arial';
  }
}
.work-white{
    border-radius: 10px 10px 0 0;
    background-color: white;

    img{
        margin-right:5em;
    }
}
.work-black{
    border-radius: 0 0 10px 10px;
    background-color: black;
    img{
        margin-left:5em;
    }
}
.work .work-items {
  display: flex;
  h4{
      font-size:1rem;
  }
}
.work img {
  width: 400px;
  border-radius: 10px;
}

.h2-title-work {
  font-size: 3.5em;
  margin-top:1em;
  margin-bottom:-25px;
}

.dark{
    background-color: #000;
    color: white;
}
.dark:hover {
    background-color: white !important;
    color:#000 !important;
    border:1px solid #000;
}
.light{
    background-color: white;
    color: #000;
}
.light:hover {
    background-color: #000;
    color:white;
    border:1px solid white;
    }

.button-area {
    display: flex;
    justify-content: space-evenly;
}

.header-menu {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
  border-bottom: 1px solid #000;
  position: fixed;
  z-index: 2;
  align-items: center;
}
.sp-menu{
    display: none;
}
.sp-menu #open{
    font-size:32px;
    cursor: pointer;
}
.sp-menu #open.hide{
    display: none;
}
.overlay{
    position: fixed;
    top:50px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255,0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
}

.overlay.show{
    opacity: 1;
    pointer-events: auto;
}

.overlay  #close{
    position: absolute;
    top:16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
}

.overlay ul{
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s ,transform .3s;
}
.overlay.show ul{
    opacity: 1;
    transform: none;
}
.overlay.show ul:nth-child(1){
    transition-delay: .1s;
}
.overlay.show ul:nth-child(2){
    transition-delay: .2s;
}



.login {
  width: 120px;
}



.header-list .btn {
  margin-right: 1em;
}

.pc-main-image {
  padding-top: 6em;
  display: flex;
  justify-content: center;
}
.pc-main-image img {
  width: 250px;
  height: 250px;
}

.sp-main-image {
  display: none;
}

.sp-contents-image {
  display: none;
}

.contents-h2 {
  font-size: 3rem;
  margin-bottom: -2.5rem;
  text-align: center;
}

.introduction-h2 {
  font-size: 3rem;
  margin-top: -2.5rem;
  text-align: center;
}

.contents {
  background-color: aqua;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 4em 0;
}
.contents p {
  font-size: 0.9rem;
}

.introduction-contents {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 2em;
}
.introduction-contents .pfc-menu {
  display: flex;
}

.introduction {
  text-align: center;
  font-weight: bold;
  padding-bottom: 3em;
  .total-border{
      border:1px solid #dee2e6;
      border-top:10px double #000;
      box-shadow: 3px 3px;
  }
  .border{
      box-shadow: 3px 3px;
  }
}
.introduction input[type=checkbox] {
  transform: scale(2);
}
.introduction .menu1 {
  background-color: orange;
  padding-right: 3rem;
  padding-left: 3rem;
}
.introduction .menu1 p {
  font-size: 1.5rem;
}
.introduction .menu2 {
  background-color: aqua;
  padding-right: 3rem;
  padding-left: 3rem;
}
.introduction .menu2 p {
  font-size: 1.5rem;
}
.introduction .menu-check {
  padding: 0 1rem;
}
.introduction h4 {
  font-weight: bold;
  color: white;
}
.introduction span {
  font-size: calc(1.05rem + 0.3vw);
}
.introduction .bg-fat {
  width: 13em;
  background-color: #66CC9A;
}
.introduction .bg-protein {
  width: 13em;
  background-color: #3697F8;
}
.introduction .bg-carbohydrate {
  width: 13em;
  background-color: #FF9934;
}
.introduction .bg-total {
  width: 13em;
  background-color: #fc5185;
}
.introduction meter {
  width: 50%;
  height: 40px;
}
.introduction .parameter {
  padding: 1rem;
}
.introduction .menu-task {
  border: 1px solid #dee2e6;
  box-shadow: 3px 3px;
  display: flex;
  align-items: center;
}
.introduction .kcal {
  width: 11rem;
margin-top: 10px;
}

.start-contents {
  text-align: center;
  padding: 3em 0;
  background-color: #F9FBFE;
  background-color: aqua;
}
.start-contents .btn {
  margin: 2em 0;
}

footer {
  text-align: center;
}

.register-menu {
  text-align: center;
}
.register-menu .border {
  border-radius: 20px;
}
.register-menu .sign-form {
  width: 400px;
  margin: 0 1rem;
}
.register-menu img {
  width: 10em;
}
.register-menu h2 {
  padding-top: 1rem;
}
.register-menu label {
  font-family: "Arial";
  font-weight: bold;
}
.register-menu .btn {
  width: 70%;
}

.form-control {
  display: inline-block;
  width: 70%;
}

.register-header {
  position: initial;
}

// ----------------ログイン後----------------------

.home-menu{
    display: flex;
    justify-content: center;
    .home-contents{
        margin:0.8rem 0;
        display: flex;
        background-color: white;
        justify-content: center;
        border-radius: 30px;
        cursor: pointer;
        .content-text{
            width: 400px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
    .home-contents:hover{
        background-color: #dee2e6;
    }
}


.todo{
    img{
        width: 200px;
        margin-bottom:1rem;
    }
    .btn{
        margin: 0 1rem;
    }
}
.day-button{
    .Sunday{
        background-color: red;
    }
    .Monday{
        background-color: orange;
    }
    .Tuesday{
        background-color: rgb(175, 27, 51);
    }
    .Wednesday{
        background-color: #66CC9A;
    }
    .Thursday{
        background-color: #F3642C;
    }
    .Friday{
        background-color: #3697F8;
    }
    .Saturday{
        background-color: rgb(218, 63, 218);
    }
}


    .introduction{
        .menu{
            width: 650px;
        }
        .menu-todo{
            border: 1px solid #dee2e6;
            box-shadow: 3px 3px;
            display: inline-flex;
            align-items: center;
            margin-right: 1rem;
            margin-top:1rem;
        }
        // .menu-todo:nth-child(odd){
        //     margin-right: 1rem;
        // }
        .todo-menu p{
            font-size:1.2rem;
        }
        h4{
            margin-top:0.5rem;
        }
    }
select{
     text-align:-webkit-center !important;
}
.alert {
    padding: 0 0 !important;
    padding-top:1rem !important;
}
.shoulder{
    background-color: rgb(226, 152, 13) !important;
}
.arm{
    background-color: rgb(207, 44, 44) !important;
}
.chest{
    background-color: greenyellow !important;
}
.abdominal{
    background-color: yellow !important;
}
.back{
    background-color: blueviolet !important;
}
.lower{
    background-color: rgb(28, 28, 184) !important;
}
.menu-check{
    button{
        border:none;
    }
}

.profile-contents{
  font-family: "Arial Black", "Noto Sans JP", sans-serif;

    .gender-img{
        width: 150px;
        height: 150px;
        align-self: center;
    }
        button{
        margin-top:1rem;
    }
    .status-img{
        width: 250px;
        height: 250px;
        align-self:center ;
    }
}
.profile-content{
    align-self:center ;
}

.profile-area{
    display: flex;
    border:3px solid black;
    border-radius: 10px;
    background-color: white;
    justify-content: space-evenly;
}
.modal-input{
    label{
        width: 50px;
    }
}

.calorie{
    .calorie-dis{
        border:1px solid gray;
        border-radius: 25px;
        padding:0 1em;
    }
    img{
        width: 200px;
    }
}
.introduction{
    .muscle-line{
        background-image: linear-gradient(rgba(0,0,0,0) 70%, rgb(252,81,133) 70%);
        display: inline;
    }
    .diet-line{
        background-image: linear-gradient(rgba(0,0,0,0) 70%, rgb(13, 153, 218) 70%);
        display: inline;
    }
    .calorie-result {
        border:1px solid gray;
        border-radius: 25px;
        margin-bottom:1.5em;

            p{
            font-size:0.9rem;
            }
    }
}
.none{
    display: none;
}
.result{
    display: block;
}
.head-border
{
    border-bottom:none;
}
.calorie-table{
    width: 100%;
    font-size:1.25em;
    align-items:center;
    tr{
        height: 3em;
    }
}
.muscle{
    background-color: rgb(252,81,133);
    color: white;
}
.diet{
    background-color: rgb(13, 153, 218) ;
    color:white;
}

.tr-sp{
    display: none;
}

    ul{
        list-style: none !important;
    }

main{
    max-width: 576px;
    margin:0 auto;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 576px;
    margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #0d6efd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}


    /*ラジオボタンを全て消す*/
    input[name="tab_item"] {
        display: none;
    }

    /*タブ切り替えの中身のスタイル*/
    .tab_content {
        display: none;
        padding: 40px 40px 0;
        clear: both;
        overflow: hidden;
    }


    /*選択されているタブのコンテンツのみを表示*/
    #all:checked~#all_content,
    #programming:checked~#programming_content,
    #design:checked~#design_content {
        display: block;
    }

    /*選択されているタブのスタイルを変える*/
    .tabs input:checked+.tab_item {
        background-color: #0d6efd;
        color: #fff;
    }
    .tabs input:checked+.tab_item.tab2 {
        background-color: #198754;
    }

    .tab2 {
            border-bottom: 3px solid #198754;

    }
    .tab_content_description{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:0 auto;
    label{
        font-size: 15px;
    }
}
