// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



body {
  font-family: "Arial Black", "Noto Sans JP", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.br {
  display: inline-block;
}

.main-title {
  display: flex;
  justify-content: center;
}
.main-title h1 {
  font-size: 5em;
}
.main-title h2 {
  display: flex;
  align-items: flex-end;
}

.profile-area img {
  width: 250px;
}

.profile {
  border: 6px solid #070707;
  border-radius: 10px;
  box-shadow: 4px 4px;
  display: inline-flex;
}

.About {
  background-color: #F7F5F5;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 30px;
  font-family: "Arial";
}

.About img {
  width: 250px;
}

.language {
  background-color: #fff;
  margin: 0 3.5em;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.language-sp {
  display: none;
}

.h2-title {
  font-size: 3.5em;
  margin-bottom: -28px;
}

.h3-tittle {
  margin-bottom: -20px;
}

.html {
  color: #F3642C;
}

.css {
  color: #1572B6;
}

.php {
  color: #777BB3;
}

.laravel {
  color: #FF2D20;
}

.javascript {
  color: #E5A228;
}

.git {
  color: #DE5C40;
}

.my {
  color: #5D86A0;
}

.sql {
  color: #F49722;
}

.work {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.work .work-items {
  display: flex;
}
.work img {
  width: 400px;
  border-radius: 10px;
}

.h2-title-work {
  font-size: 3.5em;
  margin-top: -40px;
}

.header-menu {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
  border-bottom: 1px solid #000;
  position: fixed;
  z-index: 2;
  align-items: center;
}

.login {
  width: 120px;
}

.header-list .btn {
  margin-right: 1em;
}

.pc-main-image {
  padding-top: 6em;
  display: flex;
  justify-content: center;
}
.pc-main-image img {
  width: 250px;
}

.sp-main-image {
  display: none;
}

.sp-contents-image {
  display: none;
}

.contents-h2 {
  font-size: 3rem;
  margin-bottom: -2.5rem;
  text-align: center;
}

.introduction-h2 {
  font-size: 3rem;
  margin-top: -2.5rem;
  text-align: center;
}

.contents {
  background-color: aqua;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 4em 0;
}
.contents p {
  font-size: 0.9rem;
}

.introduction-contents {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 2em;
}
.introduction-contents .pfc-menu {
  display: flex;
}

.introduction {
  text-align: center;
  font-weight: bold;
  padding-bottom: 3em;
}
.introduction input[type=checkbox] {
  transform: scale(2);
}
.introduction .menu {
  background-color: orange;
  padding-right: 3rem;
  padding-left: 3rem;
}
.introduction .menu p {
  font-size: 1.5rem;
}
.introduction .menu2 {
  background-color: aqua;
  padding-right: 3rem;
  padding-left: 3rem;
}
.introduction .menu2 p {
  font-size: 1.5rem;
}
.introduction .menu-check {
  padding: 0 1rem;
}
.introduction h4 {
  font-weight: bold;
  color: white;
}
.introduction span {
  font-size: calc(1.05rem + 0.3vw);
}
.introduction .bg-fat {
  width: 15em;
  background-color: #66CC9A;
}
.introduction .bg-protein {
  width: 15em;
  background-color: #3697F8;
}
.introduction .bg-carbohydrate {
  width: 15em;
  background-color: #FF9934;
}
.introduction meter {
  width: 50%;
  height: 40px;
}
.introduction .parameter {
  padding: 1rem;
}
.introduction .menu-task {
  border: 1px solid #dee2e6;
  box-shadow: 3px 3px;
  display: flex;
  align-items: center;
}
.introduction .kcal {
  width: 11rem;
}

.start-contents {
  text-align: center;
  padding: 5em 0;
  background-color: #F9FBFE;
  margin: 0 1rem;
}
.start-contents .btn {
  margin: 2em 0;
}

footer {
  text-align: center;
}

.register-menu {
  text-align: center;
}
.register-menu .border {
  border-radius: 20px;
}
.register-menu .sign-form {
  width: 400px;
  margin: 0 1rem;
}
.register-menu img {
  width: 10em;
}
.register-menu h2 {
  padding-top: 1rem;
}
.register-menu label {
  font-family: "Arial";
  font-weight: bold;
}
.register-menu .btn {
  width: 70%;
}

.form-control {
  display: inline-block;
  width: 70%;
}

.register-header {
  position: initial;
}

// ----------------ログイン後----------------------

.home-menu{
    display: flex;
    justify-content: center;
    .home-contents{
        margin:0.8rem 0;
        display: flex;
        background-color: white;
        justify-content: center;
        border-radius: 30px;
        cursor: pointer;
        .content-text{
            width: 400px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
    .home-contents:hover{
        background-color: #dee2e6;
    }
}


.todo{
    img{
        width: 200px;
    }
}

