@media screen and (max-width: 599px) {
	/* 599px以下に適用されるCSS（タブレット用） */
    .header-menu{
        display:block;
        h2{
            padding-top:4.5rem;
        }
        img{
            display: none;
        }
    }
    .modal-open{
        padding-right:0 !important;
    }

    .main-title{
        flex-direction: column;
        align-items: center;
        h1{
            font-size:4em;
        }
    }
    .work{
        display: block;
        .work-items{
            display: block;
        }
        img{
            width: 15.4rem;
        }
        .fs-1{
            font-size:calc(2rem + 1.5vw)!important;
        }
    }
    .About .About-description{
        border:none;
        box-shadow: initial;
    }
    .br{
        display: inline;
    }
    .language{
        display: none;
    }
    .language-sp{
        display: block;
        background-color: #fff;
        margin:0 3.5em;
        border-radius: 15px;
        padding-top:25px;
        padding-bottom:10px;
    }

    // ---------------------------------------------------muscle-questのCSS---------------------------------------------------
    .sp-main-image img {
    width: 150px;
    }
    .introduction-contents{
        .pfc-menu {
            display: inline-flex;
        }
        .parameter p{
            font-size:0.9rem;
        }
    }
    .header-list{
        display: none;
    }
    .register-menu{
        .sign-form{
        width: 300px;
        }
        h2{
            font-size:1.2rem;
            padding-top:0.7rem;
        }
    }

    // ----------------ログイン後----------------------
    .home-menu{
        .home-contents{
        width: initial;
        padding:1rem 0;
        }
        img{
            width: 200px;
        }
        .content-text{
            width: initial;
                }
    }
    .todo img{
        width: 150px;
    }
    .introduction .menu {
        padding-right: 1.1rem;
        padding-left: 1.1rem;
        width: 250px;
        height: 150px;
    }


    .todo .btn-down:nth-child(1){
        margin-bottom:1.2rem;
    }
    .todo .btn-down:nth-child(2){
        margin-bottom:1.2rem;
    }
    .introduction{
                .todo-menu p{
            font-size:1rem;
        }
    }
    .day-button{
        .btn-lg{
            padding:0.5rem 0.5rem;
            font-size:1rem;
        }
    }
        .calorie{
        h2{
            font-size:1.25rem;
            font-weight: bold;
        }
    }
    .calorie-table{
    width: 100%;
    font-size:0.9em;
    }
    .tr-pc{
        display: none;
    }
    .tr-sp{
        display: inline-block;
        border-radius: 10px;
        width: 300px;
    }
    .re-kal{
        width: 8rem;
    }
}
